---
import Services from "@/components/Services.astro";
import Layout from "@/layouts/Layout.astro";
import "@fontsource/shrikhand";
---

<Layout>
	<section class="h-dvh flex justify-center items-center font-extralight bg-gradient-to-t from-white via-60% via-brandColor/80 to-brandColor">
		<header class="text-white text-center -mt-20">
			<h1 class="text-4xl lg:text-7x animate-fade-in-down animate-duration-1000">Sprintissimo</h1>
			<p class="text-3xl lg:text-5xl animate-fade-in-down animate-duration-1000">
				Tu página web con marketing personalizado
			</p>
		</header>
	</section>
	<Services/>
</Layout>
<style>
	h1 {
		font-family: "Shrikhand", system-ui;
	}
</style>
