<section class="grid grid-cols-2 text-center mt-10 px-7">
    <a href="/desarrollo-web">
        <article
            class="flex flex-col justify-center items-center h-32 rounded border-l-[1px] border-t-[1px] bg-brandColor"
        >
            <h2 class="text-lg text-white">Desarrollo Web Personalizado</h2>
            <p class="hidden lg:block">
                Creamos sitios web modernos y plataformas de comercio
                electrónico que mejoran la experiencia del usuario, aumentan las
                conversiones y están diseñados para crecer con tu negocio.
                Integración perfecta con herramientas esenciales como pasarelas
                de pago y análisis.
            </p>
        </article>
    </a>
    <a href="/crm-erp">
        <article
            class="flex flex-col justify-center items-center h-32 rounded border-[1px] hover:bg-brandColor hover:text-white"
        >
            <h2 class="text-lg">Implementación y Optimización de CRM y ERP</h2>
            <p class="hidden lg:block text-black text-sm">
                Te ayudamos a implementar sistemas CRM y ERP que centralizan la
                información, mejoran la colaboración entre equipos y optimizan
                procesos internos, permitiéndote tomar decisiones informadas y
                escalar tu negocio eficientemente.
            </p>
        </article>
    </a>
    <a href="/marketing">
        <article
            class="flex flex-col justify-center items-center h-32 rounded border-[1px] hover:bg-brandColor hover:text-white shadow-xl"
        >
            <h2 class="text-lg">
                Marketing y Crecimiento de Ventas
            </h2>
            <p class="hidden lg:block text-black">
                Implementamos campañas de Google Ads, estrategias de email
                marketing y acciones comerciales automatizadas que generan más
                leads, impulsan las ventas y optimizan tus esfuerzos de
                marketing, ahorrándote tiempo y maximizando el ROI.
            </p>
        </article>
    </a>
</section>
